/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Overall Site */
html {
  background-image: url("/images/site/checkerboard.jpg");
}

body {
  background-color: white;
  padding: 10px;
  margin: 0;
}

/* Header Style */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 5px;
}

header a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2em;
}

/* Navigation Style */
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: lightblue;
  padding: 0;
  text-align: center;
}
nav ul li {
  flex: 1 1 auto;
  padding: 10px;
}
nav ul li:hover {
  background-color: lightgreen;
  cursor: pointer;
}

/* Index */
.main-banner {
  position: relative;
  width: 100%;
  text-align: center;
}
.main-banner img {
  width: 70%;
}

.banner-highlights {
  float: left;
  position: absolute;
  left: 10%;
  top: 5%;
  background-color: rgba(173, 216, 230, 0.7);
  /* text-align: left; */
  padding: 10px;
  border-radius: 10px;
}

.banner-highlights h2 {
  margin: 0;
  text-align: left;
}

.banner-highlights ul {
  text-align: left;
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
}

.banner-highlights ul li {
  padding: 3px 0;
}

a.button {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: lightseagreen;
  color: black;
  margin-bottom: 10px;
}

.main-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#upgrades-list,
#main-review {
  flex: 1 1 auto;
  min-width: 300px;
  padding: 10px;
}

#upgrades {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 0.6fr));
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.upgrade-pic {
  display: block;
  flex-grow: 1;
}

/* Detail View */

#inv-detail {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

/* Login View */
.accountBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.accountForm{
  display: flex;
  flex-direction: column;
}

.accountForm button{
  max-width: min-content;
  align-self: center;
}

.accountForm input{
  margin: 2px 0 3px;
}

.form-note{
  color: darkred;
}

/* Mobile Style Adjustments */

@media screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
    margin: 10px auto;
    border: 5px red solid;
    border-radius: 10px;
  }
  #upgrades-list,
  #main-review {
    max-width: 50%;
  }
  #inv-detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
